body {
  background-color: yellow;
}

.box {
  width: 300px;
  height: 300px;
  line-height: 300px; /* Sneaky vertical centering */
  border: 1px solid black;
  text-align: center;
}

.small-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
}

.static {
  position: static; /* This is the default */
}

.absolute {
  position: absolute;
  top: 300px;
  right: 200px;
}

.fixed {
  position: fixed;
  top: 300px;
  right: 200px;
}

.relative {
  position: relative;
  width: 900px;
  height: 900px;
  line-height: 900px;
}

.red {
  background-color: red;
  top: 275px;
  right: 175px;
}

.green {
  background-color: green;
  top: 300px;
  right: 200px;
}

.blue {
  background-color: blue;
  top: 325px;
  right: 225px;
}
