<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Example</title>
  <link rel="stylesheet" href="css/layout.css">
</head>
<body>

  <div class="container">

    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>
      <h1>TITLE</h1>
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://fillmurray.com/400/601" />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quasi maxime id pariatur. Similique vero numquam rerum quod corporis voluptatum suscipit, porro officia, eius minus placeat laborum error consectetur itaque!</p>
      <p>Asperiores saepe libero reiciendis dolorum similique praesentium, doloremque iure. Animi saepe corporis sequi ipsum culpa ullam deserunt, fugit, suscipit, voluptatum sint nobis ipsa maxime obcaecati exercitationem optio voluptates consequatur eligendi.</p>
      <p>Doloribus nobis in autem unde. Reiciendis non perferendis labore officia voluptates aperiam tenetur vel, totam vero laudantium debitis ipsam nihil minima modi animi veritatis praesentium magnam explicabo eum neque ad.</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Zeppo</li>
      </ul>
    </aside>

  </div>

</body>
</html>
