<h1>My Cool Blog About My Feelings</h1>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Jerk</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni architecto vero veniam consectetur earum. Et possimus quo rem iure! Consequatur laborum quia natus delectus eaque voluptas, vitae quasi saepe quis.</p>
    <p>Rem in, illum earum nulla. Facilis error saepe, enim quod ut perspiciatis dolorem consectetur harum nobis, nemo earum, tempora blanditiis assumenda vel doloribus commodi! Consectetur dolores sequi placeat exercitationem animi.</p>
  </div>
</div>

<div class="post">
  <h2>Second Post</h2>
  <h3 class="author">Some Jerk</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni architecto vero veniam consectetur earum. Et possimus quo rem iure! Consequatur laborum quia natus delectus eaque voluptas, vitae quasi saepe quis.</p>
    <p>Rem in, illum earum nulla. Facilis error saepe, enim quod ut perspiciatis dolorem consectetur harum nobis, nemo earum, tempora blanditiis assumenda vel doloribus commodi! Consectetur dolores sequi placeat exercitationem animi.</p>
  </div>
</div>

<div class="post">
  <h2>Third Post</h2>
  <h3 class="author">Some Jerk</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni architecto vero veniam consectetur earum. Et possimus quo rem iure! Consequatur laborum quia natus delectus eaque voluptas, vitae quasi saepe quis.</p>
    <p>Rem in, illum earum nulla. Facilis error saepe, enim quod ut perspiciatis dolorem consectetur harum nobis, nemo earum, tempora blanditiis assumenda vel doloribus commodi! Consectetur dolores sequi placeat exercitationem animi.</p>
  </div>
</div>

<hr>

<div class="notification">
  This is a notice
</div>

<div class="error">
  There was error
</div>

<div class="success">
  There was success
</div>
