<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <p>
      <%= symbol %> last traded at $<%= quote.latestPrice %>
    </p>
  </body>
</html>
