/*
Pesticide is a browser plugin that writes this one line of code for you.
* { border: 1px solid lime; }

*/

body {
  background-color: #222;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: #ccc;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav {
  text-align: right;
}

nav a {
  color: green;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #ccc;
  padding: 1em;
}

main {
  display: inline-block;
  width: 75%;
}

aside {
  display: inline-block;
  width: 24%;
  vertical-align: top;
}
