<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Calculator</h2>
    <h3>The answer is <%= answer %></h3>
  </body>
</html>
