.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  line-height: 300px
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block; /* So long float, you piece of garbage */
}

.none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}
