<h1>Welcome To Crappy Calculator</h1>

<form action="/result">
  <label>
    First number:
    <input type="number" placeholder="23" name="x">
  </label>

  <label>
    Operator:
    <input name="operator" placeholder="+ or - or * or /">
  </label>

  <label>
    Second number:
    <input type="number" placeholder="3" name="y">
  </label>

  <button>Calculate!</button>
</form>
