<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Calculator</title>
  <link rel="stylesheet" href="/css/calculator.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/faq">FAQ</a>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
