<h2>Edit Plant</h2>

<form action="/plants/<%= @plant.id %>" method="post">
  <label>
    Name:
    <input type="text" name="name" value="<%= @plant.name %>" placeholder="Plant name" required autofocus>
  </label>

  <label>
    Image:
    <input type="url" name="image" value="<%= @plant.image %>" placeholder="http://...">
  </label>

  <button>Update plant</button>
</form>
