<h1>Find a book cover</h1>

<form action="/books/info">
  <label>
    Book title:
    <input type="search" name="title" required placeholder="Jaws" autofocus>
  </label>
  <button>Find book</button>
</form>
