<h2>New Butterfly</h2>

<form action="/butterflies" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="Butterfly name" required autofocus>
  </label>

  <label>
    Family:
    <input type="text" name="family" placeholder="Butterfly family name">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create butterfly</button>
</form>
