<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Butterflies</title>
  <link rel="stylesheet" href="/css/butterflies.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/butterflies">All butterflies</a>
      <a href="/butterflies/new">New butterfly</a>
    </nav>
    <h1>Butterflies</h1>
    <%= yield %>
  </div>
</body>
</html>
