body {
  min-height: 300vh;
  background-image: url(http://www.placekitten.com/1024/1025);
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1em;
  font-size: 140%;
}

.bill-css {
  display: none;
  height: 10em;
  background-image: url(http://fillmurray.com/900/1200);
  background-attachment: fixed;
}

.bill-js {
  height: 10em;
  background-image: url(http://fillmurray.com/900/1200);
  background-size: cover;
}

.bubble {
  position: absolute;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  background-color: lightblue;
  border: 1px solid darkblue;
  opacity: 0.5;
}
